<div class="center hero-unit">
  <h1>Transportplanung 1.0 (Demoanwendung)</h1>


  <%= link_to "Melde Dich an!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>